<div class="container__big-card">
<div class="big-card__photo">
  <img src="https://www.sciencealert.com/images/2023/04/ShadowyPresenceBehindGlassDoor.jpg"
  alt=""
  height="250px"

  srcset="">
</div>

<div class="big-card__title">
<h1><a href="#">Feel Like You're Not Alone, But You Are? Science Can Explain That Creepy Feeling</a></h1>
</div>
<div class="big-card__description">
<p><a href=""> If you've ever had the eerie sensation there's a presence in the room when you were sure you were alone, you may be reluctant to admit it.</a> </p>
</div>
</div>
