<div class="container__small-card">
  <div class="container__small-card-content">
     <div class="small-card__photo">
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/health-logo-design-template-413edd6c579e1c7ac61e14ffdd75eec5_screen.jpg?ts=1604410182"
    alt=""
    srcset=""
    height="200px">
  </div>

  <div class="small-card__title">
  <h1><a href="#">The surprising ways cannabis can be part of drug addiction treatment</a></h1>
  </div>
  </div>

<div class="container__saml-card__separator">
  <hr/>
</div>

</div>
