
<app-menu-title></app-menu-title>
<div class="container__articles">
<div class="articles__main">
  <app-big-card
  Id="1"
  photoCover="https://www.sciencealert.com/images/2023/04/ShadowyPresenceBehindGlassDoor.jpg"
  cardTitle="Feel Like You're Not Alone, But You Are? Science Can Explain That Creepy Feeling"
  cardDescription="If you've ever had the eerie sensation there's a presence in the room when you were sure you were alone, you may be reluctant to admit it." ></app-big-card>
</div>
<div class="articles__others">
  <app-small-card
  Id="2"
  cardTitle="How an objective measure of pain could counter bias in medicine"
  photoCover="https://ychef.files.bbci.co.uk/1600x900/p0fgp23r.webp"
  ></app-small-card>
  <app-small-card
  Id="3"
  cardTitle="The surprising ways cannabis can be part of drug addiction treatment"
  photoCover="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/health-logo-design-template-413edd6c579e1c7ac61e14ffdd75eec5_screen.jpg?ts=1604410182"
  ></app-small-card>
  <app-small-card
  Id="4"
  cardTitle="The world's most polluted capital city"
  photoCover="https://ychef.files.bbci.co.uk/1600x900/p0bzhr4s.webp"
  ></app-small-card>
</div>

</div>


